$color-white:white;
$primary-color: #5709ab;
$secondary-color:#a407a1;
$third-dark-pink-color: #cc4d7b;
$hover-pink-color:pink;
$box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
$nav-border-radius:40px 40px 300px 300px;
$hundredpx:100px;
$color-black:black;
$twentyfivepx:25px;
