@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
@import "variables";
@import "mixins";
@import "functions";

.families-container {
  @include flex-and-align-center;
  flex-wrap: wrap;
  justify-content: center;
}

/* body {
  background-color: var(--primary-color) ;
  font-family: 'Poppins', sans-serif;
   margin: 0;
}  */

.show-families {
 
  @include flex-and-align-center;
  width: 300px;
  margin: 1rem;
  background-color: $primary-color;
  box-shadow: $box-shadow;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}
.show-families {
  img {
    width: 100%;
  }
}
.family-info {
  color: white;
  @include flex-and-align-center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.family-info {
  a {
    color: lightpink;
    @include text-decoration-none;
  }
}

.place-info {
  h3 {
    margin-top: 0;
  }
}
.description-family {
  background-color: white;
  padding: double(1rem);
  text-align: right;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
  li {
    list-style-type: none;
    align-items: right;
  }
}



.show-families {
  &:hover {
    .description-family {
      transform: translateY(0);
    }
  }
}

button {
  color: white;
  background-color: $secondary-color;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  padding: 15px;
  font-family: inherit;
  font-size: double(8px);
  font-weight: bolder;
  border: 0;
  border-radius: halve(10px);
}

button {
  a {
    color: white;
    @include text-decoration-none;
  }
}
